.tjenester-card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* margin-top: 50px; */
    justify-content: flex-start;
}

.checkbox-card {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    width: 300px;
    max-width: 300px;
    /* background-color: var(--highlight-color); */
    border-radius: 20px;
    padding: 20px;
    box-shadow: var(--light-shadow);
}

.checkbox-card-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    align-self: center;
}

.tjenester-card-section .checkbox-icon {
    margin: 0 auto;
}

.checkbox-icon {
    width: 36px;
    height: 36px;
    align-self: flex-end;
}

.checkbox-card-text {
    line-height: 1.5;
    color: var(--text-color)
}

.order-table {
    display: grid;
    box-sizing: border-box;
    background-color: var(--background-color);
    /* gap: 15px; */
}

.table-top {
    background-color: var(--highlight-color);
    padding: 10px;
}

.order-table-content {
    border-bottom: solid var(--main-color) 2px;
    padding: 10px;
    line-height: 1.8;
    min-height: 80px;
    /* background-color: white; */
}
 
.kandidat-name-input, .kandidat-info-input {
    border: none;
    font-family: "Mulish";
}

.kandidat-info-input {
    border-bottom: solid var(--main-color) 2px;
    resize: none;
}

.kandidat-name-input:focus, .kandidat-info-input:focus, .sammendrag-input:focus {
    outline: none;
    border-bottom: solid var(--main-color);
}

.order-table-content input[type=file], .mobile-table-content input[type=file] {
    display: none;
}

#file-input {
    width: 150px;
}

.order-table-content label, .mobile-table-content label, .highlighted-underlined {
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
}

.sammendrag-input {
    border: none;
    font-size: 18px;
    border-bottom: solid transparent;
    font-weight: 600;
    background: transparent;
}

.upload-document-grid {
    display: grid;
    grid-template-columns: 1fr 40px;
    column-gap: 10px;
}

.checkbox-with-label {
    display: flex;
    width: 210px;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.2rem;
    gap: 10px;
}

.bestill-error-message {
    display: none;
    line-height: 1.5;
    border: 2px solid #ff4c4c;
    border-radius: 15px;
    padding: 10px;
}

.mobile-table-container {
    box-shadow: var(--light-shadow);
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.mobile-table-row {
    display: flex;
    border-bottom: solid #d1dfef 1px;
    line-height: 1.8;
    padding: 5px 10px;
}

.mobile-table-name {
    /* background-color: var(--highlight-color); */
    padding: 0 10px;
    flex: 0 0 25%;
}

.mobile-name-input-container {
    display: flex;
    justify-content: center;
}

.mobile-name-input {
    width: 90%;
    padding: 10px;
    text-align: center;
    font-size: 1.4rem;
}

.mobile-table-content {
    flex-grow: 1;
}

@media only screen and (max-width: 700px) { /* Mobile layout */
    .offers-section {
        padding: 0 20px;
        margin-top: 20px;
    }

    .table-desktop {
        display: none;
    }

    .tjenester-card-section {
        justify-content: center
    }

    .kandidat-info-input {
        border-bottom: none;
        resize: vertical;
        width: 90%;
        font-size: 0.95rem;
    }

    .kandidat-name-input:focus, .kandidat-info-input:focus, .sammendrag-input:focus {
        outline: none;
        border-bottom: none;
    }

    .checkbox-with-label-mobile {
        flex-direction: row-reverse;
    }
}