footer {
    background-image: linear-gradient(rgba(103, 195, 243, 1), rgba(90, 152, 242, 1));
    color: white;
}

.footer-container {
    line-height: 2;
    margin: 0 auto;
    max-width: 1300px;
    padding: 50px 100px 100px 100px;
    box-sizing: border-box;
}

.footer-link, .footer-text {
    color: white;
    text-decoration: none;
}

.footer-title, .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-title {
    /* Aligns titles with the logo text */
    padding-top: 36px;
}

.footer-contents {
    display: flex;
    gap: 20%;
    align-items: center;
}

.footer-logo-mobile {
    display: none;
}

.footer-logo-desktop {
    display: block;
}

.cookie-button:hover {
    color:rgb(7, 36, 80);
    cursor: pointer;
}

@media only screen and (max-width: 960px) { /* Mobile layout */
    .footer-container {
        padding: 20px 20px;
    }

    .footer-contents{
        width: auto;
    }

    .footer-logo-mobile {
        display: block;
    }
    
    .footer-logo-desktop {
        display: none;
    }
}