.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 0 100px;
    box-sizing: border-box;
    margin-top: 200px;
    align-items: center;
}

.info-section-no-img {
    grid-template-columns: 1fr 0.2fr;
}

.info-left button {
    margin-top: 30px;
}

.info-text {
    color: var(--text-color);
    line-height: 25px;
}

.info-larger-text {
    color: var(--text-color);
    font-size: 1.2rem;
}

.info-image {
    max-width: 100%;
    min-width: 220px;
}

@media only screen and (max-width: 700px) { /* Mobile layout */
    .info-section {
        /* grid-template-rows: 1fr 1fr; */
        grid-template-columns: none;
        padding: 0 20px;
        margin-top: 85px;
    }

    .mobile-reverse-grid {
        grid-template-areas: 
            "second"
            "first";
    }

    .mobile-reverse-grid .info-left {
        grid-area: first;
    }

    .mobile-reverse-grid .info-right {
        grid-area: second;
    }
}