.top-nav {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    z-index: 1;
    top: 0;
    left: 0;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    background-color: white;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.logo {
    display: flex;
}

.logo-img {
    height: 30px;
    width: 30px;
}

.logo-text {
    align-self: center;
    margin-left: 10px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    min-width: 405px;
}

.nav-links a {
    text-decoration: none;
    color: #1F1534;
}

a:hover {
    color: var(--main-color);
}

.hamburger-container {
    display: none;
    justify-self: end;
}

.sidenav-exit {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.sidenav-exit:hover, .checkbox-icon:hover {
    transform: scale(1.1);
}

.sidenav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 15px 25px;
    box-sizing: border-box;
    height: 100%;
    width: 0px;
    z-index: 1;
    top: 0;
    right: -60px;
    background-color: var(--main-color);
    overflow-x: hidden;
    transition: 0.5s;
    line-height: 2.5rem;
    white-space: nowrap;
}

.sidenav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

@media only screen and (max-width: 700px) { /* Mobile layout */
    .nav-links {
        display: none;
    }
    .top-nav {
        padding: 0 20px;
        height: 80px;
    }
    .hamburger-container {
        display: block;
    }
}