.top-nav {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    top: 0;
    left: 0;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    background-color: white;
}

.logo {
    display: flex;
}

.logo-img {
    height: 30px;
    width: 30px;
}

.logo-text {
    align-self: center;
    margin-left: 10px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    min-width: 405px;
}

.nav-links a {
    text-decoration: none;
    color: #1F1534;
}

a:hover {
    color: var(--main-color);
}

.hamburger-container {
    display: none;
}

@media only screen and (max-width: 700px) { /* Mobile layout */
    .nav-links {
        display: none;
    }
    .top-nav {
        padding: 0 20px;
        width: auto;
        justify-items: end;
        height: 80px;
    }
    .hamburger-container {
        display: block;
    }
}