.two-column-display {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.display-column {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.display-card {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    line-height: 25px;
    max-width: 600px;
    box-shadow: var(--light-shadow);
}

.display-subtitle {
    font-size: 1rem;
    color: var(--text-color);
    margin: 0.5rem 0;
}

@media only screen and (max-width: 700px) { /* Mobile layout */
    .two-column-display {
        display: block;
    }
}